/cmake-build-debug/
/cmake-build-debug-visual-studio/
/cmake-build-debug-mingw/
/cmake-build-release/
/cmake-build-release-visual-studio/
/cmake-build-release-mingw/
/.idea/
/.vs/
/out/
/cmake-linux-debug/